@page "/users"

@using KRAFT.Results.Contracts.Users

@inject HttpClient HttpClient;

<h3>Notendur</h3>

<table class="table">
    <thead>
        <tr>
            <th>Nafn</th>
            <th>Tölvupóstfang</th>
            <th>Hlutverk</th>
            <th>Stofnaður</th>
        </tr>
    </thead>

    @foreach (UserSummary User in Users)
    {
        <tr>
            <td>@User.Name</td>
            <td>@User.Email</td>
            <td>@string.Join(", ", User.Roles)</td>
            <td>@User.CreatedOn.ToShortDateString()</td>
        </tr>
    }
</table>

@code {
    private IReadOnlyCollection<UserSummary> Users = [];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Users = await HttpClient.GetFromJsonAsync<IReadOnlyCollection<UserSummary>>("/users") ?? [];
    }
}