@page "/teams/{slug}"

@using KRAFT
@using KRAFT.Results.Contracts.Teams
@using Microsoft.AspNetCore.Components.Routing

@inject HttpClient HttpClient;

<h3>@Team?.FullTitle (@Team?.ShortTitle)</h3>

<br/>

<h4>Meðlimir</h4>

<table>
    @foreach (var member in Team?.Members ?? [])
    {
        <tr>
            <td>
                <NavLink class="nav-link" href="@($"/athletes/{member.Slug}")">
                    @(member.YearOfBirth is null ? member.Name : $"{member.Name} ({member.YearOfBirth})")
                </NavLink>
            </td>
        </tr>
    }
</table>

@code {
    [Parameter]
    public string Slug { get; set; } = string.Empty;

    private TeamDetails? Team;

    protected override async Task OnInitializedAsync()
    {
        Team = await HttpClient.GetFromJsonAsync<TeamDetails>($"/teams/{Slug}");
    }
}