@page "/login"

@using KRAFT.Results.Contracts.Users
@using KRAFT.Results.Web.Services
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Identity
@using System.ComponentModel.DataAnnotations

@inject RedirectManager RedirectManager
@inject IApiService Api;

<h3>Innskráning</h3>

<div class="row">
    <div class="col-lg-6">
        <section>
            <EditForm EditContext="editContext" method="post" OnSubmit="LoginUser" FormName="login">
                <DataAnnotationsValidator />
                <hr />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-floating mb-3">
                    <InputText @bind-Value="Input.Username" id="Input.Username" class="form-control" autocomplete="username webauthn" aria-required="true" placeholder="notandanafn" />
                    <label for="Input.Username" class="form-label">Notandanafn</label>
                    <ValidationMessage For="() => Input.Username" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="lykilorđ" />
                    <label for="Input.Password" class="form-label">Lykilorđ</label>
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Innskrá</button>
                </div>
            </EditForm>
        </section>
    </div>
</div>

@code {
    private EditContext editContext = default!;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Input ??= new();

        editContext = new EditContext(Input);
    }

    public async Task LoginUser()
    {
        if (!editContext.Validate())
        {
            return;
        }

        bool result = await Api.LoginAsync(Input.Username, Input.Password);

        if (result)
        {
            RedirectManager.RedirectTo(ReturnUrl ?? "/");
        }
    }

    private sealed class InputModel
    {
        [Required]
        public string Username { get; set; } = string.Empty;

        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; } = string.Empty;
    }
}