@using KRAFT.Results.Contracts.Meets
@using System.Text

<td class="@Border" style="color: @Color; font-weight: @FontWeight;">
    @($"{Attempt.Weight}")
</td>

@code {
    [Parameter]
    [EditorRequired]
    public MeetAttempt Attempt { get; set; }

    private string Color = "green";
    private string Border = string.Empty;
    private int FontWeight = 500;

    protected override void OnInitialized()
    {
        Color = Attempt.IsGood ? "green" : "red";
        FontWeight = Attempt.IsRecord ? 600 : 500;
        Border = Attempt.Round switch
        {
            1 => "border-start",
            3 => "border-end",
            _ => string.Empty,
        };
    }
}