@using KRAFT.Results.Contracts.Meets
@using System.Text

<td class="@Border">
    <div class="@Classes">
        @Value
    </div>
</td>

@code {
    [Parameter]
    [EditorRequired]
    public MeetAttempt Attempt { get; init; }

    private string Classes = string.Empty;
    private string Border = string.Empty;
    private string Value = "-";

    protected override void OnInitialized()
    {
        Border = Attempt.Round switch
        {
            1 => "border-start",
            3 => "border-end",
            _ => string.Empty,
        };

        StringBuilder stringBuilder = new("attempt-box ");

        if (Attempt.Weight == 0)
        {
            stringBuilder.Append(" skipped-lift");
            Classes = stringBuilder.ToString();
            return;
        }

        Value = $"{Attempt.Weight:F1}";

        if (Attempt.IsGood)
        {
            stringBuilder.Append(" good-lift");
        }
        else
        {
            stringBuilder.Append(" bad-lift");
        }

        if (Attempt.IsRecord)
        {
            stringBuilder.Append(" record");
        }

        Classes = stringBuilder.ToString();
    }
}