@using KRAFT.Results.Contracts

<div class="birth-year-container">
    <div class="side left">
        @Year
    </div>

    <div class="side right" title="@AgeCategoryDisplayName">
        @AgeCategoryAbbreviation
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public int Year { get; init; }

    [Parameter, EditorRequired]
    public int RelativeYear { get; init; }

    [Parameter]
    public string? Gender { get; init; }

    private string AgeCategorySlug => (RelativeYear - Year) switch
    {
        <= 18 => "subjunior",
        > 18 and <= 23 => "junior",
        >= 70 => "masters4",
        >= 60 => "masters3",
        >= 50 => "masters2",
        >= 40 => "masters1",
        _ => "open",
    };

    private string AgeCategoryDisplayName => AgeCategorySlug.ToAgeCategoryLabel(Gender);

    private string AgeCategoryAbbreviation
    {
        get
        {
            if (AgeCategoryDisplayName.Length == 0)
            {
                return string.Empty;
            }

            string firstChar = AgeCategoryDisplayName[0].ToString();

            if (AgeCategorySlug.StartsWith("masters", StringComparison.Ordinal) && AgeCategorySlug.Length == 8)
            {
                return firstChar + AgeCategorySlug[7];
            }

            return firstChar;
        }
    }
}
