<div class="col">
    <div class="card h-100 card-clickable">
        <div class="card-body">
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}