<td>
    <div class="@Classes">
        <NavLink class="nav-link" href="@($"/teams/{Slug}")">
            @Club
        </NavLink>
    </div>
</td>

@code {
    [Parameter]
    [EditorRequired]
    public string Club { get; init; }

    [Parameter]
    [EditorRequired]
    public string Slug { get; init; }

    private string Classes = string.Empty;

    protected override void OnInitialized()
    {
        Classes = "rounded-box";
    }
}