<div class="spinner-container" role="status" aria-live="polite" aria-atomic="true">
    <div class="spinner" aria-hidden="true"></div>
    <span class="visually-hidden">@Label</span>
</div>

@code {
    [Parameter] public string Label { get; set; } = "Hleð...";
}
