@page "/meets/{year:int?}"

@using System.Globalization
@using KRAFT.Results.Contracts.Meets
@using KRAFT.Results.Web.Client.Components

@inject HttpClient HttpClient

<PageHeader ActionHref="/meets/create" ActionLabel="Nýtt mót">
    <TitleContent>
        <YearNav Label="Mótaskrá" Year="@Year" BaseUrl="/meets" />
    </TitleContent>
</PageHeader>

<DataLoader @key="Year" T="IReadOnlyCollection<MeetSummary>" Loader="LoadAsync" Noun="mót">
    <ChildContent Context="meets">
        @foreach (IGrouping<string, MeetSummary> group in meets.GroupBy(x => x.StartDate.ToString("MMMM", CultureInfo.CurrentCulture)))
        {
            <h4>@($"{char.ToUpper(group.Key[0])}{group.Key[1..]}")</h4>
            @foreach (MeetSummary meet in group)
            {
                <MeetCard @key="meet.Slug" Meet="meet" IsFuture="meet.StartDate > DateOnly.FromDateTime(DateTime.Now)" />
            }
        }
    </ChildContent>
</DataLoader>

@code {
    [Parameter]
    public int Year { get; set; }

    protected override void OnParametersSet()
    {
        if (Year == 0)
        {
            Year = DateTime.Now.Year;
        }
    }

    private async Task<IReadOnlyCollection<MeetSummary>?> LoadAsync()
    {
        return await HttpClient.GetFromJsonAsync<IReadOnlyCollection<MeetSummary>>($"/meets?year={Year}");
    }
}