@page "/teams"

@using KRAFT.Results.Contracts.Teams
@using KRAFT.Results.Web.Components.Pages
@using KRAFT.Results.Web.Services
@using Microsoft.AspNetCore.Components.Routing

@inject IApiService _apiService;
@inject NavigationManager NavigationManager;

<h3>Félög</h3>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
    @foreach (TeamSummary team in Teams)
    {
        <Card>
            <a class="stretched-link" href="@($"/teams/{team.Slug}")"></a>
            <h5 class="card-title">@team.Title</h5>
            <p class="card-text">@team.ShortTitle</p>
            <p class="card-text">Meðlimir: @team.AthleteCount</p>
        </Card>
    }
</div>

@code {
    private IReadOnlyCollection<TeamSummary> Teams = [];

    protected override async Task OnInitializedAsync()
    {
        Teams = await _apiService.GetAsync<IReadOnlyCollection<TeamSummary>>("/teams") ?? [];
    }
}