@page "/athletes"

@using KRAFT.Results.Contracts.Athletes
@using Microsoft.AspNetCore.Components.Routing

@inject HttpClient HttpClient;

<h3>Keppendur</h3>

<table>
    <thead>
        <tr>
            <th>Nafn</th>
        </tr>
    </thead>

    @foreach (AthleteSummary athlete in Athletes)
    {
        <tr>
            <td>
                <NavLink class="nav-link" href="@($"/athletes/{athlete.Slug}")">
                    @(athlete.YearOfBirth is null ? athlete.Name : $"{athlete.Name} ({athlete.YearOfBirth})")
                </NavLink>
            </td>
        </tr>
    }
</table>

@code {

    private IReadOnlyCollection<AthleteSummary> Athletes = [];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Athletes = await HttpClient.GetFromJsonAsync<IReadOnlyCollection<AthleteSummary>>("/athletes") ?? [];
    }
}